<template>
  <div class="columns">
    <div class="column is-one-fifth">
      <img :src="imagen" />
    </div>
    <div class="column">
      <h3 class="is-size-4">{{titulo}}</h3>
      <p>{{texto}}</p>
    </div>
  </div>
</template>
<script>
export default {
  name: "Caracteristica",
  props: {
    imagen: "",
    texto: "",
    titulo: ""
  }
};
</script>
<style scoped>
</style>