<template>
  <div class="column is-one-quarter has-text-centered">
    <img :src="imagen" />
    <h4>{{nombre}}</h4>
    <p>{{texto}}</p>
  </div>
</template>
<script>
export default {
  name: "Clientescomp",
  props: {
    imagen: "",
    texto: "",
    nombre: ""
  }
};
</script>
<style scoped>
</style>