<template>
  <div class="column is-one-third has-text-centered">
    <div class="card">
      <div class="card-content">
        <p class="subtitle has-text-dark">“{{texto}}”</p>
        <p class="has-text-dark">{{autor}}</p>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item">
          <span>
            Ver publicación
            <a href="https://twitter.com/">{{medioSeleccionado}}</a>
          </span>
        </p>
      </footer>
    </div>
  </div>
</template>
<script>
export default {
  name: "PrensaHome",
  props: {
    autor: "",
    texto: "",
    medioSeleccionado: ""
  }
};
</script>
<style scoped>
</style>