<template>
	<div class="container">
		<header>
			<nuxt-link to="/" alt="Regresar">Regresar</nuxt-link>
			<h1 class="title">{{album.title}}</h1>
		</header>

		<div class="columns is-multiline">
			<div class="column is-one-quarter" v-for="photo in photos" :key="photo.id">
				<img :src="photo.url" :alt="photo.title" />
				<h3 class="is-primary">{{photo.title}}</h3>
			</div>
		</div>
	</div>
</template>
<script>
import router from "vue-router";
import axios from "axios";
import env from "../../config/env";
export default {
	name: "AlbumIndvPage",
	data() {
		return {
			album: {},
			photos: []
		};
	},
	created() {
		axios
			.get(`${env.endpoint}/albums/${this.$route.params.id}`)
			.then(albumResponse => {
				this.album = albumResponse.data;
			});
		axios
			.get(`${env.endpoint}/albums/${this.$route.params.id}/photos`)
			.then(PhotosResponse => {
				this.photos = PhotosResponse.data;
			});
	}
};
</script>
<style>
header {
	margin: 2em 0;
}
</style>