.navbar-item img {
    max-height: 3rem;
}
/* tipografía */
h1,
h2,
h3,
h4 {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}

.container {
    transition: all 0.4s ease-in;
}

.page-enter-active,
.page-leave-active {
    transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
    opacity: 0;
}
.caracteristica img {
    width: 80%;
    max-height: 80;
}
/* Top header */
section.hero-top-per {
    /* padding-top: 10rem; */
    padding-bottom: calc(10rem - 72px);
    background: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(rgba(57, 57, 139, 0.8)),
            to(rgba(133, 176, 55, 0.8))
        ),
        url(img/voleibol_mod.jpg);
    background: linear-gradient(
            to bottom,
            rgba(57, 57, 139, 0.8) 0,
            rgba(133, 176, 55, 0.8) 100%
        ),
        url(img/voleibol_mod.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.hero-mapa {
    background-image: url(img/bkgd-presencia.png);
    background-size: cover;
    background-position-y: center;
    background-position-x: 70%;
    background-repeat: no-repeat;
}
