<template lang="html">
  <!-- elemento raiz : solo se puede tener un elemento raiz (no se puede tener otro elemento en este nivel -->
  <div class="container">
    <h1 class="title">Hello world! {{mensaje}}</h1>
	<div class="columns is-multiline">
    	<AlbumCard :album="album" v-for="album in albums" :key="album.id"/>
	</div>
  </div>
</template>
<script>
import axios from "axios";
import env from "../config/env";
import AlbumCard from "../components/albumCard";
export default {
	name: "indexpage",
	components: {
		AlbumCard: AlbumCard
	},
	data() {
		return {
			mensaje: "jojojo",
			albums: []
		};
	},
	created() {
		axios.get(`${env.endpoint}/albums`).then(response => {
			this.albums = response.data;
		});
	}
};
</script>
<style>
* {
	font-family: sans-serif;
}
</style>