<template lang="HTML"  class="">
	<div class="is-fullhd"> 
		<section class="hero is-fullheight hero-top-per">
			<!-- Hero head: will stick at the top -->
			<div class="hero-head">
				<!-- agregar is-fixed-top para top header -->
				<header class="navbar ">
				<div class="container">
					<div class="navbar-brand">
					<a class="navbar-item">
						<img src="~/assets/img/logo_top_blanco.png" />
					</a>
					<span class="navbar-burger burger" data-target="navbarMenuHeroC">
						<span></span>
						<span></span>
						<span></span>
					</span>
					</div>
					<div id="navbarMenuHeroC" class="navbar-menu">
					<div class="navbar-end">
						<span class="navbar-item">
							<a class="button is-link ">
								<span>{{text_btnContacto}}</span>
							</a>
						</span>
						<span class="navbar-item">
							<a class="button is-primary ">
								<span>{{text_btnReservaAqui}}</span>
							</a>
						</span>
					</div>
					</div>
				</div>
				</header>
			</div>

			<!-- Hero content: will be in the middle -->
			<div class="hero-body container">
				<div class="column is-7">
					<h1 class="is-size-1 has-text-weight-bold  has-text-white">
						{{text_hero.titulo}}
					</h1>
					<h2 class="subtitle  has-text-white">
						{{text_hero.texto}}
					</h2>
					<div class="">
						<a class="button is-primary is-size-5 has-text-weight-bold">
							<h4>{{text_btnReservaAqui}}</h4>
						</a>
					</div>
				</div>
			</div>
		</section>
		<section class="hero is-medium hero-features has-background-white-bis">
  			<div class="hero-body container">
				<div class="container columns">
					<div class="column is-4">
						<h1 class="is-size-2 has-text-weight-bold">{{text_caracrteristicas.titulo}}</h1>
						<p>{{text_caracrteristicas.texto}}</p>
					</div>
					<div class="column is-7 is-offset-1">
						
						<caracteristica
						imagen="_nuxt/assets/img/icono_calendario.svg"
						texto="Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit."
						titulo="Bibendum Ullamcorper Sem" />
							
						<caracteristica
						imagen="_nuxt/assets/img/icono_precio.svg"
						texto="Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit."
						titulo="Bibendum Ullamcorper Sem" />

						<caracteristica
						imagen="_nuxt/assets/img/icono_reserva.svg"
						texto="Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit."
						titulo="Bibendum Ullamcorper Sem" />

						<caracteristica
						imagen="_nuxt/assets/img/icono_tarjeta.svg"
						texto="Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit."
						titulo="Bibendum Ullamcorper Sem" />
						
					</div>
				</div>
			</div>
		</section>
		<section class="hero is-large hero-mapa">
  			<div class="hero-body container">
				<div class="container columns">
					<div class="column is-half">
						<h1 class="is-size-2 has-text-weight-bold">{{text_presencia.titulo}}</h1>
						<p>{{text_presencia.texto}}</p>
					</div>
					<div class="column is-half mapa-aqui">
						
					</div>
				</div>
			</div>
		</section>
		<section class="hero is-medium hero-clientes has-background-white-bis">
  			<div class="hero-body is-multiline container">
				<div class="columns">
					<div class="column is-half">
						<h1 class="is-size-2 has-text-weight-bold">{{text_clientes.titulo}}</h1>
						<p>{{text_clientes.texto}}</p>
					</div>
					<div class="column"></div>
				</div>
				<div class="columns">
					<clientescomp
					imagen="~assets/img/icono_calendario.svg"
					nombre="Cliente uno de componenete"
					texto="Cras mattis consectetur purus sit amet fermentum."
					/>
					<clientescomp
					imagen="~/assets/img/icono_calendario.svg"
					nombre="Cliente dos de componenete"
					texto="Curabitur blandit tempus Mattis Risus Ipsum porttitor."
					/>
					<clientescomp
					imagen="~/assets/img/icono_calendario.svg"
					nombre="Cliente tres de componenete"
					texto="Cras justo odio, dapibus ac facilisis in, egestas eget quam."
					/>
					<clientescomp
					imagen="_nuxt/assets/img/icono_calendario.svg"
					nombre="Cliente Cuatro de componenete"
					texto="Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor."
					/>
				</div>
			</div>
		</section>
		<section class="hero is-medium">
  			<div class="hero-body is-multiline container">
				<div class="container columns">
					<div class="column is-half">
						<h1 class="is-size-2 has-text-weight-bold">{{text_prensa.titulo}}</h1>
						<p>{{text_prensa.texto}}</p>
					</div>
					<div class="column"></div>
				</div>
				<div class="columns">
					
					<prensaHome
						autor="Vestibulum Dolor Pharetra" 
						texto="There are two hard things in computer science: cache invalidation, naming things, and off-by-one errors." 
						medioSeleccionado ="La cuarta"
					/>

					<prensaHome
						autor="Vestibulum Dolor Pharetra" 
						texto="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id nibh ultricies vehicula ut id elit." 
						medioSeleccionado ="La Tercera"
					/>

					<prensaHome
						autor="Vestibulum Dolor Pharetra" 
						texto="Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum." 
						medioSeleccionado ="Diario Financiero"
					/>


				</div>
			</div>
		</section>
		<footer class="footer has-background-white-ter	">
			<div class="content has-text-centered">
				<p><strong>	&copy; easycancha 2019</strong></p>
			</div>
		</footer>
	</div>
</template>
<script>
import Caracteristica from "../components/caracteristica";
import Clientescomp from "../components/clientes";
import PrensaHome from "../components/prensaHome";
export default {
  data() {
    return {
      text_btnContacto: "Contacto",
      text_btnReservaAqui: "Reserva Aqui tu Cancha",
      text_hero: {
        titulo: "Descarga easycancha y reserva ahora!",
        texto:
          "Con easycancha podrás reservar tus canchas del deporte que quieras, en el club que elijas, y encontrar el mejor precio."
      },
      text_caracrteristicas: {
        titulo: "Carcateristicas",
        texto:
          "Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Etiam porta sem malesuada magna mollis euismod."
      },
      text_presencia: {
        titulo: "Presencia Internacional",
        texto:
          "Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      },
      text_clientes: {
        titulo: "Clientes",
        texto:
          "Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros."
      },
      text_prensa: {
        titulo: "easycancha en la prensa",
        texto:
          "Maecenas faucibus mollis interdum. Donec id elit non mi porta gravida at eget metus."
      }
    };
  },
  name: "landingpage",
  components: {
    Caracteristica,
    PrensaHome,
    Clientescomp
  }
};
</script>
<style>
</style>